<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osman | Software Engineer</title>
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/js/main.js" defer> </script>
</head>
<body>
    {% include "parts/nav.html" %}
        
    {% include "parts/hero.html" %}

    <div class="container">
        <main class="main-content">
            
            <section id="about" class="section">
	            <h3 class="section-title">Hakkımda</h3>
	            <div class="markdown-content">
	                {{ about | safe }}
	            </div>
	        </section>
            <section id="experience" class="section">
                {% include "parts/experience.html" %}
            </section>

            <section id="projects" class="section">
                {% include "parts/projects.html" %}
            </section>

            {% include "parts/contact.html" %}
        </main>

    </div>
</body>
</html>
