<header class="hero star-hero" id="hero">
    
    <div class="hero-bg-layer">
        <div class="hero-glow-bg"></div> 
        <div id="stars-container">
            <div id="stars1" class="star-layer"></div>
            <div id="stars2" class="star-layer"></div>
            <div id="stars3" class="star-layer"></div>
        </div>
    </div>

    <div class="hero-content-wrapper">
        <div class="status-badge">
            <span class="pulse-dot"></span> System Online
        </div>
        
        <h1 class="glitch-title">Esenlikler, ben <span class="accent glitch-name" data-text="Osman.">Osman.</span></h1>
        <h2 class="typewriter-text">{% include "icons/command_line.html" %}</h2>
        
        <p class="hero-desc">
            Kodlama dünyasına oyunları kurcalayarak adım atan ve her yeni projede kendini geliştirmeye çalışan bir yazılım mühendisliği öğrencisi.
        </p>
        
        
    </div>

</header>
